.rapporteur__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.rapporteur__wrapper {
  max-width: 1280px;
  padding: 0 9%;
  position: relative;
  margin: auto;
}

.rapporteur__wrapper__title__dash {
  width: 88px;
  height: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f15841;
  position: absolute;
  top: 26px;
}

.rapporteur__wrapper__title__dash2 {
  width: 107px;
}
.rapporteur__wrapper__title {
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #00154e;
}

.rapporteur__wrapper_big_sub_tile {
  display: flex;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .rapporteur__wrapper__title__dash,
  .rapporteur__wrapper__title__dash2 {
    display: none;
  }
  .rapporteur__wrapper__title {
    text-align: center;
    width: 100%;
  }
}
