.rapporteur__item {
  height: 110px;
  width: 242px;
  left: 112px;
  top: 1796px;
  border-radius: 150px;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(196, 196, 196, 0.4);
  border-radius: 150px;

  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 0 0;
}

.rapporteur__item__content {
  width: 65%;
  margin: 0;

  border-radius: null;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #00154e;
}

.rapporteur__item__content_name {
  font-weight: 800;
}
