.person__container {
  width: calc(100% / 4);
  margin-bottom: 82px;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.person .avatar {
  width: 190px;
  height: 190px;
  background: #c4c4c4;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person .avatar img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.person__content {
  margin-top: 36px;
}
.person__name {
  font-size: 18px;
  line-height: 23px;
  color: #00154e;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.person__position {
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  margin: 0;
  font-style: italic;
  text-align: center;
}

/* *** */
@media only screen and (max-width: 920px) {
  .person__container {
    width: 280px;
  }
}
