.organizer {
  background-color: #ffffff;
  padding: 86px 0 0 0;
  position: relative;
}
.organizer__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #00154e;
  padding: 0 108px;
}
.dash {
  position: absolute;
  top: 112px;
  left: 0;
  width: 88px;
  height: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f15841;
}
.organizer__content {
  margin-top: 87px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

/* mobi */
@media only screen and (max-width: 600px) {
  .dash {
    display: none;
  }

  .organizer {
    text-align: center;
  }

  .organizer__title {
    padding: 0;
  }

  .organizer__content {
    padding: 0;
  }
  .person__container {
    width: auto;
    margin: auto;
    min-width: 80%;
  }
}
