.donor {
  margin-top: 88px;
  position: relative;
  padding: 0 108px;
}
.donor__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #00154e;
  text-transform: uppercase;
}
.dash__donor {
  position: absolute;
  top: 25px;
  left: 0;
  width: 88px;
  height: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f15841;
}
.donor__img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .dash__donor {
    display: none;
  }
  .donor__title {
    text-align: center;
  }
  .donor {
    padding: 0;
  }

  .donor__img > img {
    display: block;
  }
  .donor__img {
    flex-flow: column;
  }
}
