.donor {
  margin-top: 88px;
  position: relative;
  padding: 0 108px;
}
.donor__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #00154E;
  text-transform: uppercase;
}
.dash__donor {
  position: absolute;
  top: 25px;
  left: 0;
  width: 88px;
  height: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #F15841;
}
.donor__img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}